* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "IBM Plex Sans";
}

::-moz-selection {         /* selecionar cores do fundo, quando pressionar com mouse */
  background-color: #dc0000;
  color: #fafafa;
}
 
::selection {        /* texto selecionado com mouse */
  background-color: #443f3fbc;
  color: #fafafa;
}

ul, ol {                        /* lista */
  list-style: none;
  margin: 0;
  padding: 0;
}

a {           /* links */ 
  text-decoration: none;
}

img {         /* imagens */
  max-width: 100%;
  height: auto;
  display: block;
}

p,h1,h2,h3,h4,h5,h6 {      /* parágrafos e titulos */
  margin: 0;
}

button, input {
  border: 0;
  font-family: "IBM Plex Sans";
}

button:focus, input:focus {      /* botão e input focado */
  border: 0;
}

body {
  font-family: "IBM Plex Sans";
  background-color: #fafafa;
}

html {       /* barra de scroll */
  scroll-behavior: smooth;
  font-size: 62.5%;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {     /* fundo da barra de scroll */
  background-color: #131119;
}

::-webkit-scrollbar-thumb {     /*  propri barra de scroll*/
  background-color: #f5f5f5;
  border-radius: 8px;
}
    
header {          /* cabeçario do menu nav*/
  background: rgba(6, 3, 13, 0.8);  
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  border-bottom: 1px solid rgba(114, 114, 126, 0.2);
  z-index: 999;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 992px) {
  header {
    padding: 0px 16px;
  }
}

header .grid-layout nav {    /* todos os elementos que estão dentro dessa "caixa"*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 8vh;
  padding: 0px 8px;
}

header .grid-layout nav img {       /* img da logo do site */
  width: 45px;
}

header .grid-layout nav .nav-list {     /* caixa que armazena os links */
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .grid-layout nav .nav-list li {      /* links */
  margin-left: 48px;
}

@media screen and (max-width: 992px) {
  header .grid-layout nav .nav-list li {
    margin-left: 0px;
  }
}

header .grid-layout nav .nav-list li a {     /* links cores */
  color: #fafafa;  
  position: relative;
  font-size: 1.8rem;
  font-family: "IBM Plex Sans";
}

header .grid-layout nav .nav-list li a::after {      /* estilo da animação underline  */
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 1px;
  bottom: -5px;
  left: 0;
  background: -webkit-gradient(linear, right top, left top, from(#eeeeee), to(#17161d));
  background: linear-gradient(270deg, #ffffff 0%, #17161d 100%);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1),
    -webkit-transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}

header .grid-layout nav .nav-list li a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

header .grid-layout nav .nav-list li a:hover {     /* efeito quando passar o mouse em cima do link */
  color: #fafafa;
}

.mobile-menu {    /*  caixa do botão mobile   */
  display: none;
}

.mobile-menu div {     /* criando o botão mobile */
  width: 32px;
  height: 1px;
  background-color: #ffffff;
  margin: 8px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nav-list.active {    /* animação e efeitos do botão mobile ativo */
  visibility: initial;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 8px);
          transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -5px);
          transform: rotate(45deg) translate(-5px, -5px);
}

@media screen and (max-width: 992px) {   /* menu mobile fundo */
  body {
    overflow-x: hidden;
  }
  .nav-list {
    text-align: center;
    position: absolute;
    top: 8vh;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: #0e0b19;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 96px;
    visibility: hidden;
  }
  header .grid-layout nav .nav-list li {
    opacity: 0;
    margin-bottom: 48px;
  }
  header .grid-layout nav .nav-list li a {
    font-size: 2.4rem;
  }
  .mobile-menu {
    display: block  ;
  }
}

/* ===========================================================================================*/


#s-home {           /*  Container  do home*/
  padding: 0px 50px;
  background-color: #000000;
  position: relative;
}

@media screen and (max-width: 992px) {
  #s-home {
    padding: 0px 20px;
  }
}

#s-home .grid-layout #home {     /* home */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
  overflow: hidden;
  width: 100%;
}

#s-home .grid-layout #home #home-container-text {  /* container do titulo */
  width: 70%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 992px) {
  #s-home .grid-layout #home #home-container-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    text-align: center;
    padding: 0px;
  }
}

#s-home .grid-layout #home #home-container-text h1 {    /* titulo do H1  */
  color: #fafafa;
  font-size: 2.4rem;
  font-weight: 400;
  font-family: "DM Sans";
}

#s-home .grid-layout #home #home-container-text h1 #home-name {   /* Nome */
  font-size: 5.0rem;
  font-weight: 700;
}

#s-home .grid-layout #home #home-container-text h1 .typewriter {
  font-family: "DM Sans";
}

#s-home .grid-layout #home #home-container-text a {   /* container do Instagram */
  background: linear-gradient(225deg, rgba(0, 0, 0, 0.886) 0%, rgba(61, 8, 147, 0) 100%);
  color: #fafafa;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 15px 30px;
  max-width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(194, 190, 200, 0.779);
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  margin-top: 30px;
  font-size: 18px;
  font-weight: 500;
  font-family: "DM Sans";
}

#s-home .grid-layout #home #home-container-text a:hover {   /* efeito ao colocar o mouse em cima insta */
  padding: 15px 45px;
  max-width: 280px;
  border-radius: 10px;
  background: linear-gradient(225deg, rgba(160, 143, 143, 0.849) 0%, rgb(0, 0, 0) 100%);
}

#s-home .grid-layout #home #home-container-photo {  /* tamanho da img flutuante */
  width: 20%;
  height: 100vh;
  position: relative;
}

@media screen and (max-width: 992px) {
  #s-home .grid-layout #home #home-container-photo {
    display: none;
  }
}

#s-home .grid-layout #home #home-container-photo #logo-lab {   /* logo flutuante */
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
}

@media screen and (max-width: 992px) {
  #s-home .grid-layout #home #home-container-photo #logo-lab {
    display: none;
  }
}

#s-home .grid-layout #home #home-container-photo #logo-lab #luz-logo {
  opacity: 1;
  -webkit-animation: light 8s ease infinite alternate;
          animation: light 8s ease infinite alternate;
}

@-webkit-keyframes light {
  0%,
  55% {
    opacity: 0;
  }
  60%,
  100% {
    opacity: 1;
  }
}

@keyframes light {
  0%,
  55% {
    opacity: 0;
  }
  60%,
  100% {
    opacity: 1;
  }
}

#s-home .grid-layout #home #home-container-photo #logo-lab #luz_2 {
  opacity: 1;
  -webkit-animation: lightDelay 8s ease infinite alternate;
          animation: lightDelay 8s ease infinite alternate;
}

@-webkit-keyframes lightDelay {
  0%,
  60% {
    opacity: 0;
  }
  65%,
  100% {
    opacity: 1;
  }
}

@keyframes lightDelay {
  0%,
  60% {
    opacity: 0;
  }
  65%,
  100% {
    opacity: 1;
  }
}

#s-home .grid-layout #home #home-container-photo .object {  /* animação do objeto */
  -webkit-animation: MoveUpDown 5s linear infinite;
          animation: MoveUpDown 5s linear infinite;
}

@-webkit-keyframes MoveUpDown {
  0%,
  100% {
    top: 50vh;
  }
  50% {
    top: 40vh;
  }
}

@keyframes MoveUpDown {
  0%,
  100% {
    top: 50vh;
  }
  50% {
    top: 40vh;
  }
}


/*==================================================================================================*/

#s-about {        /* caixa com icones */
  padding: 96px 50px;
  background-color: #000000;
}

@media screen and (max-width: 992px) {
  #s-about {
    padding: 48px 16px;
  }
}

#s-about .grid-layout #about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#s-about .grid-layout  {   /* caixa icones e info sobre mim */
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

#s-about .grid-layout #about-photo .about-figure > img {
  width: 60px;
}  

#s-about .grid-layout #about-photo .about-figure {    /* caixa para posição dos icons */
  position: absolute;
}

#s-about .grid-layout #about-photo .figure-one {
  top: 70px;
  left: 750px;
}

#s-about .grid-layout #about-photo .figure-two {
  top: 100px;
  left: 850px;
}

#s-about .grid-layout #about-photo .figure-three {
  top: 130px;
  left: 950px;
}

#s-about .grid-layout #about-photo .icon-one {
  -webkit-animation: icon-move 3s ease 2.9s infinite alternate;
          animation: icon-move 3s ease 2.9s infinite alternate;
}

#s-about .grid-layout #about-photo .icon-two {
  -webkit-animation: icon-move 3s ease 1.9s infinite alternate;
          animation: icon-move 3s ease 1.9s infinite alternate;
}

#s-about .grid-layout #about-photo .icon-three {
  -webkit-animation: icon-move 3s ease 0.6s infinite alternate;
          animation: icon-move 3s ease 0.6s infinite alternate;
}

@-webkit-keyframes icon-move {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(10px, -40px, 0);
            transform: translate3d(0px, -60px, 0);
  }
}

@keyframes icon-move {      /*animação dos icones */
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0px, -120px, 0);
            transform: translate3d(0px, -120px, 0);
  }
}


@media screen and (max-width: 1200px) {
  #s-about .grid-layout #about-photo {
    display: none;
  }
}

#s-about .grid-layout #about-text {
  width: 50%;
}

@media screen and (max-width: 1200px) {
  #s-about .grid-layout #about-text {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0px;
  }
}

#s-about .grid-layout #about-text h2 {
  padding-top: 60px;
  color: #fafafa;
  font-size: 4rem;
  font-weight: 500;
}

#s-about .grid-layout #about-text h2 span {  /* ponto do "Quem sou"  */
  color: #ffffff;
  font-size: 64px;
}

#s-about .grid-layout #about-text p {  /* Paragráfo com info */
  line-height: 3.2rem;
  color: #cccccc;
  font-family: "DM Sans";
  font-size: 1.8rem;
}

/*----------------------------------------------Projetos-------------------------------------------------*/

#s-projects {      /* caixa que armazena os projetos */
padding: 96px 48px;
text-align: center;
background-color: rgb(0, 0, 0);
}

@media screen and (max-width: 992px) {
#s-projects {
  padding: 48px 16px;
}
}

#s-projects .grid-layout h2 {   /* Titulo do Projeto */
padding-bottom: 24px;
font-size: 4rem;
color: #fafafa;
font-weight: 500;
}

#s-projects .grid-layout h2 span {   /* Ponto do Projetos   */
font-size: 64px;
color: none;
}

#s-projects .grid-layout #projects {  /* caixa que armazena os as informações dos 3 projetos */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 24px 0px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: left;
}

#s-projects .grid-layout #projects > article {    /* caixa que armazena cada projeto */
background-color: #17161d;
height: auto;
padding: 32px;
margin: 8px;
border: 1px solid #000000;
-ms-flex-preferred-size: calc(33% - 20px);
flex-basis: calc(33% - 20px);
-webkit-box-flex: 1;
-ms-flex-positive: 1;
flex-grow: 1;
-webkit-transition: .6s all ease-in;
transition: .7s all ease-in;
}

#s-projects .grid-layout #projects > article:hover {  /* efeito ao colocar o mouse em cima  */
border: 1px solid #fbfbfb;
border-radius: 2px;
}

@media screen and (max-width: 1200px) {
#s-projects .grid-layout #projects > article {
  -ms-flex-preferred-size: calc(50% - 20px);
      flex-basis: calc(50% - 20px);
}
}

@media screen and (max-width: 768px) {
#s-projects .grid-layout #projects > article {
  -ms-flex-preferred-size: calc(100% - 20px);
      flex-basis: calc(100% - 20px);
}
}


#s-projects .grid-layout #projects > article h3 { /* titulos dos projetos  */
color: white;
font-size: 2.4rem;
font-weight: 500;
}

#s-projects .grid-layout #projects > article p {  /* paragrafos dos projetos */
line-height: 24px;
margin-top: 24px;
color: #cccccc;
line-height: 3.2rem;
font-family: 'DM Sans';
font-size: 1.8rem;
}

#s-projects .grid-layout a {
color: #fafafa;
position: relative;
font-size: 1.8rem;
font-weight: 500;
}

#s-projects .grid-layout a::after{  /*animação do underline */
content: " ";
position: absolute;
width: 100%;
-webkit-transform: scaleX(0);
        transform: scaleX(0);
height: 1px;
bottom: -7px;
left: 0;
background: -webkit-gradient(linear, right top, left top, from(#ffffff), to(#2f2825));
background: linear-gradient(270deg, #ffffff 0%, #241c1c 100%);
-webkit-transform-origin: bottom left;
        transform-origin: bottom left;
        -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
transition: -webkit-transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);
}

#s-projects .grid-layout a:hover::after {
-webkit-transform: scaleX(1);
        transform: scaleX(1);
-webkit-transform-origin: bottom right;
        transform-origin: bottom right;
}

/*-------------------------------------------serviços----------------------------------------------------*/

#s-services {    /* Cx do services  */
padding: 96px 48px;
background-color: #000000;
}

@media screen and (max-width: 992px) {
#s-services {
  padding: 48px 16px
}
}

#s-services .grid-layout h2 {   /*Titulo do services */
text-align: center;
padding-bottom: 24px;
color: #fafafa;
font-size: 4rem;
font-weight: 500;
}

#s-services .grid-layout h2 span {
color: #f3f3f3;
font-size: 58px;
}

#s-services .grid-layout #services {   /* cx que armazena as 3 tipos de serviços */
display: -webkit-box;
display: -ms-flexbox;
display: flex;
height: auto;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
margin: 24px 0px;
}

#s-services .grid-layout #services > article {   /* cada cx de serviço */
background-color: #17161d;
height: auto;
padding: 32px;
margin: 8px;
flex-basis: calc(33% - 20px);
-ms-flex-preferred-size: calc(33% - 20px);
-ms-flex-positive: 1;
-webkit-box-flex: 1;
flex-grow: 1;
border: 1px solid #1e1c1cd5;
-webkit-transition: 1s all ease;
        transition: 1s all ease;
}

#s-services .grid-layout #services > article:hover {  /*Efeito ao colocar o mouse em cima do serviço */
border: 1px solid whitesmoke;
border-radius: 4px;
}

@media screen and (max-width: 1200px) {
#s-services .grid-layout #services article {
  -ms-flex-preferred-size: calc(50% - 20px);
      flex-basis: calc(50% - 20px);
}
}

@media screen and (max-width: 768px) {
#s-services .grid-layout #services article {
  -ms-flex-preferred-size: calc(100% - 20px);
      flex-basis: calc(100% - 20px);
}
}

#s-services .grid-layout #services > article div {  /* cx dentro do serviço */
height: 100px;
}

#s-services .grid-layout #services > article div img {  /* imgs dos serviços */
width: 60px;
}

#s-services .grid-layout #services > article  h3 {   /* titulo de cada serviço */
padding: 24px 0px;
color: #fafafa;
font-size: 2.4rem;
font-weight: 500;
}

#s-services .grid-layout #services > article p {   /* paragrafo de cada serviço */
color: #fafafa;
font-size: 1.8rem;
line-height: 3.2rem;
font-family: "DM Sans";
}


/*-------------------------------------------skill-------------------------------------------------------*/


#s-skills {       /* cx principal das skills */
padding: 96px 48px;
background-color: #000000;
padding-bottom: 32px;
}

@media (max-width:992px) {
#s-skills{
  padding: 48px 16px;
}
}


#s-skills .grid-layout #skills {  /* cx que armazena as 3 skills */
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: auto;
    padding: 8px;
}

#s-skills .grid-layout #skills  div,
#s-skills .grid-layout #skills article {
width: 50%;
}

@media screen and (max-width: 1200px) {
#s-skills .grid-layout #skills div,
#s-skills .grid-layout #skills article {
  width: 100%;
}
}

#s-skills .grid-layout #skills #skills-text {   /*cx do text "Conhecimentos" */
min-height: 300px;
}

#s-skills .grid-layout #skills #skills-text h2 {  /* Titulo do conhecimentos */
margin-bottom: 32px;
font-size: 3.2rem;
font-weight: 500;
color: #fafafa;
}

#s-skills .grid-layout #skills #skills-text h2 span {  /*Ponto do Titulo conhecimentos */
color: #ffffff;
font-size: 64px;
}

#s-skills .grid-layout #skills #skills-text .changeDescription {  /* efeito na descrição */
-webkit-transition: 2s all ease;
transition: 2s all ease;
}

#s-skills .grid-layout #skills #skills-text > p {   /* Paragrafos com a descrição das skills */
max-width: 500px;
line-height: 2.9rem;
color: #9b93b1;
font-family: "DM Sans";
font-size: 1.8rem;
}

#s-skills .grid-layout #skills #skills-cards {  /* card de cada skills */
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
gap: 24px;
}

@media screen and (max-width: 1200px) {
#s-skills .grid-layout #skills #skills-cards {
  margin-top: 48px;
}
}


#s-skills .grid-layout #skills #skills-cards article {  /* cada skills */
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 20%;
    -webkit-box-flex: 1;
    -ms-flex-positive:1;
    flex-grow: 1;
    height: 130px;
    background-color: #13041abb;
    position: relative;
    border: 1px solid rgba(3, 0, 0, 0.749);
    -webkit-transition: 1s all ease;
            transition: 1s all ease;
}

#s-skills .grid-layout #skills #skills-cards article:hover {   /* Efeito ao colocar o mouse em cima  */
border: 1px solid #ffffff;
border-radius: 5px;
}


#s-skills .grid-layout #skills #skills-cards article:hover .skills-cards-name,
#s-skills .grid-layout #skills #skills-cards article:hover .skills-cards-name-high,
#s-skills .grid-layout #skills #skills-cards article:hover .skills-cards-name-low {
display: block;
text-align: center;
}

@media screen and (max-width: 768px) {
#s-skills .grid-layout #skills #skills-cards article {
  width: 40%;
  margin: 20px 0px;
}
}

#s-skills .grid-layout #skills #skills-cards article .skills-cards-name,
#s-skills .grid-layout #skills #skills-cards article .skills-cards-name-high,
#s-skills .grid-layout #skills #skills-cards article .skills-cards-name-low {
  left: 50%;
  height: auto;
  position: absolute;
  padding: 5px;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  background-color: rgb(255, 255, 255);
  width: 125px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: none;
  font-size: 1.9rem;
}

/* posição de cada nome de cada skills */

#s-skills .grid-layout #skills #skills-cards article .skills-cards-name-high {
top: -50px;
}

#s-skills .grid-layout #skills #skills-cards article .skills-cards-name-low {
bottom: -50px;
}

#s-skills .grid-layout #skills #skills-cards article .aumento-hover {
bottom: -75px;
}

#s-skills .grid-layout #skills #skills-cards article .skills-icons {
width: 60px;
}

/*------------------------------------------footer------------------------------------------------------*/

footer {
text-align: center;
margin-top: 71px;
}

footer .grid-layout {    /* cx dos footer  */
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
text-align: center;
width: 100%;
padding: 8px;
}

@media screen and (max-width: 768px) {
footer .grid-layout {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
}

footer .grid-layout #direitos-autorais {
margin-top: 10px;
}

footer .grid-layout p {  /* paragrafos dos direitos autorais */
font-size: 1.8rem;
text-align: center;
color: #ffffff;
font-family: "DM Sans";
}

footer .grid-layout div {    /* cx dos direitos autorais */
margin-top: 22px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
}

footer .grid-layout div img {  /* img do direitos autorias */
width: 30px;
margin-left: 8px;
}


@media screen and (max-width: 768px) {
footer .grid-layout div {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
}

.typewriter:after {  /*animação barra de digitação */
content: "|";
margin-left: 8px;
opacity: 1;
-webkit-animation: blink 1s infinite;
        animation: blink 1s infinite;
color: #f6f6f6;
}

@-webkit-keyframes blink {
0%,
100% {
  opacity: 1;
}
50% {
  opacity: 0;
}
}

@keyframes blink {
0%,
100% {
  opacity: 1;
}
50% {
  opacity: 0;
}
}

.grid-layout {
max-width: 1240px;
margin: 0 auto;
}

